.favorite {
    background: rgb(0, 115, 0);
    color: white;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .highlight {
    animation: blink 1s infinite;
    background: yellowgreen;
  }
  